<!DOCTYPE html>
<html>
<head>
<title>Spell List</title>
</head>
<body>
<form method="get">
	<label for="spellList">Filter by Spell List:</label>
		<ul>
	            {% for list in spellListOptions %}
        	        <li>
                	    <input type="checkbox" name="spellList" value="{{ list.name }}"
				{% if list.name in selectedList %}checked{% endif %}>
                	    <strong>{{ list.name }}</strong>
                	</li>
        	    {% endfor %}
		</ul>
		<button type="submit">Filter</button>

</form>
	  <h1>Pick Your Spells</h1>
	    <form method="post">
        {% csrf_token %}
        <ul>
            {% for spell in spells %}
                <li>
                    <input type="checkbox" name="selected_spells" value="{{ spell.id }}">
                    <strong>{{ spell.name }}</strong> — {{ spell.spellLevelType }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Add to Spell Book</button>
    </form>
</body>
</html>

